#Logs
*.log

# os files 
.DS_Store

# data files
data/

# genomic data files
*.bam
*.bai
*.vcf
*.gff
*.gtf
*.fasta
*.fa
*.fastq
*.fq
*.sam

# results files
results/

# compiled bytecode files
__pycache__/

